# Videofy - Video Player\n\n*.iml\n.gradle/\n/local.properties\n/.idea/libraries\n/.idea/modules.xml\n/.idea/workspace.xml\n/.idea/navEditor.xml\n/.idea/assetWizardSettings.xml\n/.idea/compiler.xml\n/.idea/deploymentTargetSelector.xml\n/.idea/gradle.xml\n/.idea/vcs.xml\n/.idea/kotlinc.xml\n.cxx/\n.externalNativeBuild\ncxx/\n*.cxx/\n*.externalNativeBuild\n*.cxx/obj\n*.cxx/bin\n*.o\n*.so\n*.jar\n*.class\nbuild/\n.intermediates/\noutputs/\n.release/\n.installed/\n!/gradle/wrapper/gradle-wrapper.jar\n!/gradlew\n!/gradlew.bat\n\n.DS_Store\nThumbs.db\n\n# IDE specific files\n.vscode/\n.settings/\n.classpath\n.project
